.blogPostItem {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
}

.blogPostItem p {
  color: var(--text-2);
}

.blogPostItem header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--size-2);
}

@media (min-width: 769px) {
  .blogPostItem header {
    flex-direction: row;
  }
}

.blogPostItem header h3 {
  flex: 1;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
  line-height: var(--font-lineheight-2);
}

.blogPostItem header time {
  font-size: var(--font-size-1);
  color: var(--text-2);
}
