.blogPostList {
  display: flex;
  flex-direction: column;
  gap: var(--size-7);

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blogPostList > li {
  padding: 0;
  max-inline-size: unset;
}
