@import "open-props/style";
@import "open-props/normalize";

:root {
  --max-width: 65ch;

  --link-visited: var(--link);
  --brand-light: var(--indigo-7);
  --brand-dark: var(--indigo-3);

  --brand-inverse-light: var(--indigo-1);
  --brand-inverse-dark: var(--indigo-7);
}

:where(html) {
  --brand: var(--brand-light);
  --brand-inverse: var(--brand-inverse-light);

  --text-2: var(--gray-7);
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    --brand: var(--brand-dark);
    --brand-inverse: var(--brand-inverse-dark);

    --text-2: var(--gray-6);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

/* * {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.sr {
  display: none;
}

ul.nobullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.nobullet > li {
  padding: 0;
}

blockquote {
  font-style: italic;
  max-inline-size: unset;
}

:where(a):where([href]):where(:visited) {
  text-decoration-color: var(--link);
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-7);
}

:where(h1) {
  font-size: var(--font-size-6);
  margin-bottom: var(--size-3);
}

:where(h2) {
  font-size: var(--font-size-5);
  margin-bottom: var(--size-2);
}

:where(h3) {
  font-size: var(--font-size-4);
}

:where(h4) {
  font-size: var(--font-size-3);
}

@media screen and (min-width: 48em) {
  :where(h1) {
    font-size: var(--font-size-7);
  }

  :where(h2) {
    font-size: var(--font-size-6);
  }

  :where(h3) {
    font-size: var(--font-size-5);
  }

  :where(h4) {
    font-size: var(--font-size-4);
  }
}
